@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&display=swap');

.Cart{
    padding: 50px 0;
}
.CartItem{
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border-top: 1px solid rgb(198, 197, 197);
    border-bottom: 1px solid rgb(198, 197, 197);
    font-family: "Arial";
}

.TitleText{
    padding: 40px 0;
    margin: 0 auto;
}

.product{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 22px;
}

.quantity img{
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.quantity img:hover{
    background: rgb(211, 211, 211);
}



.ItemInfo{
    height:max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ItemInfo p{
    padding: 5px 0;
  margin: 0;
}

.deletebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media (max-width: 798px) {
    .ItemInfo{

        font-size: 12px !important;
    }
    
    .quantity span{
        font-size: 16px;
    }
    .quantity img{
        width: 20px;
        height: 20px;
    }
    .quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
}

.EmptyCart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    

}