.addnewpasswordBox {
    background: rgb(252, 252, 252);
    width: max-content;
    padding: 30px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
#WebsiteName{
    font-size: 18px;
}

#WebsiteName::placeholder {
    font-size: 18px; 
}

.inputField label {
    font-size: 16px;
    font-weight: 550;
}

.inputField .inputbox {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(162, 162, 162);
}

.inputField input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 300px;
    background: transparent;
    padding: 10px;
    font-size: 1rem;

}

.Addbtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.Addbtn button {
    padding: 7px 15px;
    background: whitesmoke;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.Addbtn button:hover {
    background: rgb(0, 47, 255);
    color: white;
}

.Weak {
    color: red;
    font-size: 16px;
    font-weight: 500;
}

.Medium {
    color: orange;
    font-size: 16px;
    font-weight: 500;
}

.Strong {
    color: rgb(0, 255, 0);
    font-weight: 500;
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.drawer {
    position: fixed;
    top: 0;
    right: -410px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 20;
    border-radius: 10px;
}

.drawer.open {
    right: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}



