nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(247, 247, 247, 0.7);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);

    
}

.links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.link{
    font-size: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.305);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    transition: all 0.3s ease;
    color: rgb(62, 62, 62);
}




.link:hover{
    background-color: rgb(0, 89, 255);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;

    
}