.mypasswordCard{

    display: flex;
    flex-direction: column;
    padding: 15px 25px;

    background: rgba(255, 255, 255, 0.793);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    width: max-content;
    
    border-radius: 20px;
    transition: all 0.3 ease;
    position: relative;
}

.mypasswordCard:hover{

    background-color: #f3f3f3c7;
    
}

.head{
    display: flex;
    align-items: center;
    gap: 10px;

}

.headLogo{
    border-radius: 50%;
   
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.web-Link{
    text-decoration: none;
    color: #333;
}

.web-Link:hover{
    color: rgb(0, 12, 140);
}

#Website_Name{
    font-size: 32px;
}

.info{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: copy;
    color: #5c5c5c;
    
}

.info:hover{
    color: black;
}

.editCard{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.deleteCard{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}