@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* remove underline */
    color: inherit;        /* inherit color from parent */
    -webkit-tap-highlight-color: transparent; /* For Safari & Chrome on mobile */
}
