.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    
}

.menu-slider {
    position: fixed;
    top: 0;
    right: -100%; 
    width:100%;
    height: 100%;
    background-color: #fff;
    
    transition: right 0.3s ease;
    z-index: 100;
}

.close{
    
    padding: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.menu-slider.open {
    right: 0; 
}

.menu-slider .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu-slider ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.menu-slider ul li {
    font-weight: 500;
    transition: all 0.1s;
    font-size: 18px;
    
    border-top: 1px solid rgb(81, 81, 81);
    width: 100%;
    /* Default text color */
    color: rgb(48, 48, 48);
}

/* Make the <Link> inside <li> fill the whole li for clickable area */
.menu-slider ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* remove underline */
    color: inherit; /* inherit text color from li */
    padding: 10px;
    box-sizing: border-box;
}

/* Active link styles */
.menu-slider ul li a.active {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Optional: hover effect */


