@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(58, 58, 58);
    font-family: "Baloo Bhai 2", sans-serif;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.403);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
}


