@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.TitleText{
    font-size: 26px;
    position: relative;
    width: max-content;
    text-align: center;
   
}

#text1{
    
    font-family: "SUSE Mono", sans-serif;
    padding-left: 5px;
   
}

#text2{
    
    font-family: "SUSE Mono", sans-serif;
    padding-right: 5px;
}

#text2::after{
    content: "";
    position: absolute;
    right: -30px;
    bottom: 50%;
    
    background: rgb(151, 151, 151);
    height: 1px;
    width: 30px;
}
#text2::before{
    content: "";
    position: absolute;
    left: -30px;
    bottom: 50%;
    
    background: rgb(151, 151, 151);
    height: 1px;
    width: 30px;
}



